* {
	box-sizing: border-box;
  font-family: Tahoma, Verdana;
}


/* APP */
.app {
  text-align: center;
}


/* LOGO */
.logo {
  flex: 1;
  padding: 0.5rem;
  margin: 0.5rem;
}

.logo a {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #F1C40F;
  font-weight: 800;
  -webkit-text-stroke: 1px black;
}

.logo img {
  width: 4rem;
  margin-right: 1rem;
  border-radius: 20%;
}


/* NAVIGATION */
nav {
  display: flex;
  align-items: center;
  background: white;
}

nav ul {
  padding: 0rem;
  margin: 0rem;
}

nav ul li {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
}

nav ul li a {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: darkslategrey;
  font-weight: 800;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.4s;
}

nav ul li a:hover {
  color: #555;
}


/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}

nav.shift ul li a:hover {
  color: #91640F;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}


/* INTRO */
div.intro {
  background: no-repeat rgba(0, 0, 0, .35) url("../public/mighty_poro.png");
  background-blend-mode: darken;
  background-size: cover;
  background-position-x: 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.intro h1 {
  font-size: 5rem;
  color: #F1C40F;
  -webkit-text-stroke: 1px black;
  font-weight: 800;
}

div.intro p {
  font-size: 3rem;
  color: #F1C40F;
  -webkit-text-stroke: 1px black;
  font-weight: 500;
}


/* About */
div.about {
  background: no-repeat rgba(0, 0, 0, .35) url("../public/colorful_poros.png");
  background-blend-mode: darken;
  background-size: cover;
  background-position-x: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.about h1 {
  font-size: 5rem;
  color: #F1C40F;
  -webkit-text-stroke: 1px black;
  font-weight: 800;
}

div.about p {
  font-size: 1.5rem;
  color: #F1C40F;
  -webkit-text-stroke: 1px black;
  font-weight: 800;
}


/* Standings */
div.standings {
  background: no-repeat rgba(0, 0, 0, .35) url("../public/cluster_poro.png");
  background-blend-mode: darken;
  background-size: cover;
  background-position-x: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.standings h1 {
  font-size: 4rem;
  color: #F1C40F;
  -webkit-text-stroke: 1px black;
  font-weight: 800;
}


/* Schedule */
div.schedule {
  background: no-repeat rgba(0, 0, 0, .35) url("../public/poro_champions.png");
  background-blend-mode: darken;
  background-size: cover;
  background-position-x: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



div.ranking {
  posiiton: relative;
  width: 70%;
}

div.ranking .rank {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    background: rgba(50, 50, 50, .5);
    border-top: 2px solid;
    border-color: black;
    -webkit-text-stroke: 0.5px black;
}

div.ranking .rank:last-child {
  border-bottom: 2px solid #252c32;
  border-color: black;
}

div.ranking .rank .ordinal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-style: italic;
  padding: 1rem;
  margin: 1rem;
  padding-left: 3rem;
}

div.ranking .rank .team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  padding-right: 3rem;
}

div.ranking .rank .team .team-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
}

div.ranking .rank .team .record{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
}

/*div.ranking .rank .team .team-logo {
  display: flex;
  justify-content: center;
  margin-right: 16px
}*/
